body {
    background-image: url("https://previews.123rf.com/images/arrow/arrow1607/arrow160700023/61706314-medical-healthcare-background.jpg")
}

h1 {
    color: white;
    margin-right: 20px;
}
div { background-color: rgba(255, 255, 255, 0.5); }