<form class="well" (submit)="addClient($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Add Client">
    </div>
</form>

<div class="client-list">
    <div *ngFor="let client of clients">
        <div class="col-md-1">
            <input  type="checkbox">
        </div>
        <div class="col-md-9">
            {{client.name}}
        </div>
        <div class="col-md-10">
            <input type="button" (click)="deleteClient(client._id)" value="Delete" class="btn btn-danger">
            <input type="button" (click)="generateTherapist(client._id)" value="Find therapists" class="btn btn-danger">    
        </div>
        <br><br>
    </div>
</div>

<div ng-if="best_therapist">
    <p>{{best_therapist}}</p>
</div>