<form class="well" (submit)="matchClient($event)">
    <div style="width: 50%; padding: 10px;;" class="container form-group">
        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Your name">
        <input type="text" [(ngModel)]="age" name="age" class="form-control" placeholder="Your age">
        <input type="text" [(ngModel)]="location" name="location" class="form-control" placeholder="location">
        <input type="text" [(ngModel)]="hobby" name="hobby" class="form-control" placeholder="Your hobby">
    </div>
</form>