<form class="well" (submit)="addTherapist($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Add Therapist">
    </div>
</form>

<div class="therapist-list">
    <div *ngFor="let therapist of therapists">
        <div class="col-md-1">
            <input  type="checkbox">
        </div>
        <div class="col-md-7">
            {{therapist.name}}
        </div>
        <div class="col-md-4">
            <input type="button" value="Delete" class="btn btn-danger">
        </div>
    </div>
</div>